project_name = "My Internal Tool"

# Optional overrides:
# state_bucket_name = "iac-state-my-internal-tool"
# github_repository_owner = "wonderly"
# github_repository_name  = "internal-tools-my-internal-tool"
# github_deploy_branch    = "main"
