services:
  fsharp-starter-frontend:
    build:
      context: ./www
      dockerfile: Dockerfile.dev
    ports:
      - "8081:8081"
    environment:
      VITE_DEV_MODE: "true"
      VITE_API_URL: "http://fsharp-starter-api:8080"
    depends_on:
      - fsharp-starter-api

  fsharp-starter-api:
    build:
      context: .
      dockerfile: ./src/FsharpStarter.Api/Dockerfile
    ports:
      - "5002:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      OTEL_EXPORTER_OTLP_ENDPOINT: http://aspire-dashboard:18889
      OTEL_EXPORTER_OTLP_PROTOCOL: grpc
      FSHARP_STARTER_DEV_MODE: "true"
    volumes:
      - fsharp-starter-dev-db:/app/data
    depends_on:
      - aspire-dashboard

  aspire-dashboard:
    image: mcr.microsoft.com/dotnet/aspire-dashboard:9.0
    container_name: aspire-dashboard
    ports:
      - 18888:18888
      - 4317:18889
    environment:
      - DOTNET_DASHBOARD_UNSECURED_ALLOW_ANONYMOUS=true

volumes:
  fsharp-starter-dev-db:
